@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col-6 offset-6 my-3">
        <div class="mb-4">
            <div asp-validation-summary="All" class="text-danger small"></div>
        </div>
    </div>

    <div class= "col-6">
        <div class="row">
            <div class="col-12">
                
                <img src="~/uploads/kitap2.jpg" width="400" height="500" class="img-thumbnail ">
                </div>
            <p>
                Her sanat dalı arasında bir ilişki kurmak mümkündür elbette ancak edebiyat ve müzik arasındaki etkileşim, pek az ikili arasında tezahür eder. Edebiyattaki ritm duygusu -ki aruz vezni dediğimiz başka bir şey değildir örneğin- ve müzikteki edebiyat etkisi, bir şeylere anlam yüklemeye her daim hazır olan insanoğlunun bu arzusunu pek de güzel karşılar bir yerde. Çok sevdiğiniz bir şarkının sözlerinin, yine çok sevdiğiniz bir şair tarafından kaleme alındığını öğrenmek, bahsi geçen şarkıyı başka bir yere koymanıza vesile olur.  Yada çok sevdiğiniz bir şiiri, bir şarkı olarak dinlemek ayrı bir keyiftir...

                Hakkında sayfalarca yazılabilecek bir konu tabi; edebiyat ve müzik arasındaki etkileşim. Farklı yorumlara, görüşlere açık; tezlere konu olabilecek nitelikte. Haddini bilen, sıradan bir okur olarak benim gayem sadece; bu etkileşimden doğan ve çoğu hayatımda bir yere sahip eserleri paylaşmak olacak elbette.
            </p>

        </div>
                </div>

                <div class="col-6"
               <p>Herkese merhaba! Bloğuma hoş geldiniz. Sanırım öncelikle kendimi tanıtmam gerekiyor ama buna çok gerek olduğunu düşünmüyorum. Sitede geçireceğiniz zaman diliminde birbirimizi tanımak için yeterli vaktimiz olacağını düşünüyorum. Hem bir insanı tanımak demek sadece ona dair birkaç şey bilmek değildir, ortak bir zevki paylaşmakta birini tanımaya başlamak için güzel bir yoldur.Bizde zaman zaman kitaplardan zaman zaman edebiyattan ve müzikten bahsedecek bahsederken de yaptığımız yorumlarla birbirimiz tanıyacağız. Yorumlarla insan tanınır mı demeyin kitaplarda görüp de beğendiğiniz ve paylaşmaya değer 
               gördüğünüz her bir satır sadece  yazardan değil aynı zamanda sizden ve sizin iç dünyanızdan da izler taşır.. Böyle dedim diye sanmayın ki sadece kitaplardan bahsedeceğiz. Her ne kadar kitaplar ana konumuz olacak olsa da zaman zaman farklı sanat dallarına da değineceğiz. Bunlardan birisi de haliyle pek çoğumuz için ayrı bir yeri olan müzik… </p>
          
                
<div class= "col-6">
        <div class="row">
         <div class="col-12">

                <img src="~/uploads/kitap1.jpg" width="400" height="500" class="img-thumbnail ">
                </div>
                </div>
                

   
